<!DOCTYPE html>
<html>
<head>

	<tittle><h1><%= link_to "Code Fillet", home_index_path %></h1></title> 
		<% if current_user %>
		<%= link_to 'Create new CodeFillet', new_code_fillet_path(@code_fillet) %> |
		<%= link_to 'My Code Fillet', code_fillets_path(@code_fillet) %>
		<% end %>

	</head>
	<body>
		<table>
			<thead>
				<th><h2>Name</h2></th>
				<th><h2>Description</h2></th>
				<th><h2>Author</h2></th>
			</thead>
			<tbody>

				<% @code_fillets.each do |code_fillet| %>
				<tr>
					<td><%= link_to code_fillet.name, code_fillet_path(code_fillet)%></td>
					<td><%= code_fillet.description%></td>
					<% if code_fillet.user %>
					<td><%= code_fillet.user.username%></td>
					<% else %>
					<td>No user</td>
					<% end %>
				</tr>	
				<% end %>
			</tbody>	
		</table>

	</body>
	</html>